<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 默认配置 -->
    <!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->

    <!-- 在线转换工具：http://logback.qos.ch/translator/ -->

    <property name="LOG_PATH" value="logs/"></property>
    <springProperty scope="context" name="springAppName" source="spring.application.name"></springProperty>

    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5.5level [%10.10thread{10}] %-30.30logger{30} [%40.40(%file:%line)] : %m%n" />

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- application.properties -> logging.file -> LOG_FILE -->
    <!-- application.properties -> logging.path -> LOG_PATH -->
    <!-- 按照每天生成日志文件 -->
    <appender name="rollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--日志文件输出的文件名 -->
        <!-- <file>logs/${PROJECT_NAME}.log</file> -->
        <file>${LOG_PATH}/${springAppName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- <fileNamePattern>logs/${PROJECT_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern> -->
            <fileNamePattern>${LOG_PATH}/${springAppName}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <!--日志文件最大的大小 -->
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- 错误日志 -->
    <appender name="rollingFileError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <file>${LOG_PATH}/${springAppName}.error.log</file>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 归档的日志文件的路径，例如今天是2013-12-21日志，当前写的日志文件路径为file节点指定，可以将此文件与file指定文件路径设置为不同路径，从而将当前日志文件或归档日志文件置不同的目录。
 而2013-12-21的日志文件在由fileNamePattern指定。%d{yyyy-MM-dd}指定日期格式，%i指定索引 -->
            <fileNamePattern>${LOG_PATH}/${springAppName}.%d{yyyy-MM-dd}.%i.error.log</fileNamePattern>
            <!-- 除按日志记录之外，还配置了日志文件不能超过2M，若超过2M，日志文件会以索引0开始，
 命名日志文件，例如log-error-2013-12-21.0.log -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 日志文件的格式 -->
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <!-- 此日志文件只记录error级别的 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <!--日志文件最大的大小 -->
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- project default level -->
    <logger name="com.ifourthwall" level="DEBUG" />

    <!-- project level of environment: dev -->
    <springProfile name="dev">
        <logger name="com.ifourthwall" level="DEBUG" />
    </springProfile>

    <!-- project level of environment: test -->
    <springProfile name="test">
        <logger name="com.ifourthwall" level="DEBUG" />
    </springProfile>

    <!-- project level of environment: prod -->
    <springProfile name="prod">
        <logger name="com.ifourthwall" level="INFO" />
    </springProfile>

    <!-- spring -->
    <logger name="org.springframework" level="WARN" />

    <!-- jdbc -->
    <logger name="jdbc.sqltiming" level="INFO" />

    <!-- swagger -->
    <logger name="com.mangofactory.swagger" level="WARN" />

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
        <appender-ref ref="rollingFileError" />
    </root>
</configuration>